*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
# submodules/
submodules/RAFT
submodules/simple-knn

submodules/depth-diff-gaussian-rasterization/*.txt
*.h
*.cu
*.md
*.cpp
# submodules/
assets/
*.TTF

__pycache__/
reconstruct/

notebooks/*.ipynb
# diff_rasterization/dist

# submodules/*.so
*.so
*.o



# toy_data/
# */__pycache__/*
# arguments/__pycache__/
# **/__pycache__/
# # Ignore all __pycache__ directories
# __pycache__/

# # Ignore Python bytecode files
# *.pyc


#unset whatever has not been tracked

# submodules/depth-diff-gaussian-rasterization/diff_gaussian_rasterization/__pycache__/__init__.cpython-37.pyc
# submodules/simple-knn/build/lib.linux-x86_64-cpython-37/simple_knn/_C.cpython-37m-x86_64-linux-gnu.so
# baselines/submodules/simple-knn/build/temp.linux-x86_64-cpython-37/ext.o
# submodules/simple-knn/build/temp.linux-x86_64-cpython-37/spatial.o
# submodules/simple-knn/build/lib.linux-x86_64-cpython-37/simple_knn/_C.cpython-37m-x86_64-linux-gnu.so
submodules/simple-knn/build/temp.linux-x86_64-cpython-37/simple_knn.o
